.ql-container,
.ql-toolbar {
  border: none !important;
  /* 或者使用 border: 0; */
}

.quill {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
.ql-editor>p{
  font-size: 1rem;
}
.borderless.quill{
  border: 0;
}
.editor-bg{
  background-color: transparent;
}