*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  width: 100vw;
  height: 100vh;

  padding: 0 1%;
}
.margin-top-bottom{
  margin: 1rem 0;
}
.padding-top-bottom{
  padding: 1rem 0;
}

.Flex-Center{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer,header{
  padding-inline: 0 !important;
}
.ant-modal-content{
  background-color: inherit !important;
  border-radius: 0 !important;
}
.ant-modal-close{
  color: inherit !important;
}
.inlineBlock{
  display: inline-block !important;
}
