*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.margin-top-bottom{
  margin: 1rem 0;
}
.padding-top-bottom{
  padding: 1rem 0;
}

.Flex-Center{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer,header{
  padding-inline: 0 !important;
}
.ant-modal-content{
  background-color: inherit !important;
  border-radius: 0 !important;
}
.ant-modal-close{
  color: inherit !important;
}
.inlineBlock{
  display: inline-block !important;
}
/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}
 
/* 保留滚动功能 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}
 
/* 滚动条上下两个按钮 */
::-webkit-scrollbar-button {
  display: none;
}
 
/* 滚动条轨道 */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
 
/* 滚动条thumb */
::-webkit-scrollbar-thumb {
  display: none;
}
 
/* 滚动条corner */
::-webkit-scrollbar-corner {
  background-color: transparent;
}
